<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Us</title>
    <style>
        body {
            background-color: floralwhite
        }

        .part-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .part-image {
            width: 150px;
            margin-right: 20px;
        }

        .part-description {
            font-size: 16px;
        }
    </style>
</head>

<body>

<h1 align="center">About PJ's watch</h1>
<h3 align="center">Welcome to PJ's watch shop! where craftsmanship meets precision! We specialize in designing and
    manufacturing high-quality watches that blend elegance with functionality.</h3>
<nav>
    <ul>
        <a href="http://localhost:8080/">Shop</a>

    </ul>
</nav>
<h2>Our Main Parts:</h2>
<h3>Dial</h3>

<div class="part-container">
    <img src="Images/dial.jpg" alt="Dial" class="part-image" height="200px" width="200px">
    <div class="part-description">
        <!-- Dial -->
        <p>The dial is the face of the watch where time is displayed. It includes the hour markers, hands, and any
            additional features such as date or chronograph subdials.The watch dial is a part of your timepiece that
            displays the time. In a watch, you will see a numerical display, and hands in a traditional wristwatch
            are dials. The clock faces are available in different colors and designs.
            Some multifunction timepiece comes with three dials that saw date, day, and month as well. The dial is
            the first part that we look at when buying a new timekeeper. There are some common types of clock face
            as well. California, Enamel, Gilt, Guilloche, Skeleton are some of the popular dials available in the
            market.</p>
    </div>
</div><br><br>
<!-- Case -->
<h3>Case</h3>
<div class="part-container">
    <img src="Images/case.jpg" alt="Case" class="part-image" height="200px" width="200px">
    <div class=" part-description">

        <p>The watch case is an integral yet often overlooked part of a watch. As the main body that houses and protects
            the inner workings of a watch, the case plays a critical role in the durability, functionality and even
            comfort of any timepiece.For watch lovers, appreciating the nuances of a well-crafted watch case is
            essential. The material, shape, size, finish and details of a watch case all have an impact on the overall
            look, feel and performance of a
            watch.</p>
    </div>
</div><br><br>
<!-- Bezel -->
<h3>Bezel</h3>

<div class="part-container">
    <img src="Images/bezek.png" alt="Bezel" class="part-image" height="200px" width="200px">
    <div class=" part-description">
        <p>A watch bezel is a significant component of timepieces, providing both functional and aesthetic value. It is
            a ring located around the watch crystal, which can be made from various materials, such as metal or ceramic.
            This essential part secures the crystal, giving watches structural stability while presenting opportunities
            for designers to enhance their visual appeal. Understanding the different types of watch bezels and their
            respective uses is essential for those who seek to gain invaluable insights into the world of horology. As
            an intricate part of the timepiece’s anatomy, bezels play a crucial role beyond mere aesthetics, offering
            practical applications and stylistic flair to watches of all shapes and sizes.</p>
    </div>
</div><br><br>
<!-- Strap -->
<h3>Strap</h3>
<div class="part-container">
    <img src="Images/strap.jpg" alt="Strap" class="part-image" height="200px" width="200px">
    <div class=" part-description">
        <p>A proper strap is an essential companion to any watch, and switching it out is an easy way to experiment with
            a whole new style. A broad and diverse strap collection can greatly extend the number of combinations
            available to you; to an observer, the band is often more visible than the face of the watch, so a large
            assortment of straps will make a small collection of watches appear truly enormous. By their very nature,
            watch straps are often considerably cheaper than an entirely new watch, so it is often more cost-effective
            to expand one’s collection of straps over splurging on another watch. That’s not to say one shouldn’t own an
            assortment of watches – just make sure you don’t neglect that which connects them to your wrist.</p>
    </div>
</div>

</body>

</html>